.product-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 20px;
}

.product-name {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-description {
    font-size: 14px;
    color: #666;
}

.img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}

.add-to-cart {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

.add-to-cart:hover {
    background-color: #014301;
}